@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

li {
    list-style-type: none;
}

.is-cooking:checked ~ span {
    text-decoration: line-through;
}

.ingredients-container {
    border-right: 1px solid #f5f5f5;
}

.instruction-container {
    background-color: cornsilk;
}

.instruction-container.completed {
    background-color: white;
}