<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/index.css">
    <title>Recipe Planner</title>
</head>
<body>
    <!-- URL Input Container -->
    <div class="container mt-6">
        <h1 class="title">Recipe Planner</h1>
        <div class="field">
            <label class="label">Recipe URL</label>
            <div class="control">
                <input class="input" type="text" id="recipe-url" placeholder="http://www.recipe.net/tasty" value="https://www.budgetbytes.com/baked-beans/">
            </div>
            <!-- Error Container -->
            <div class="notification is-danger mt-2 is-hidden" id="recipe-url-error-notification">
                <button class="delete"></button>
                <span></span>
            </div>
            <!-- Buttons -->
            <input class="button mt-2 is-link" type="submit" id="submit-recipe-url" value="Submit Recipe">
            <button class="button mt-2 is-danger" id="clear-recipes-btn">Clear Recipes</button>
        </div>
    </div>
    <!-- Shopping List Container -->
    <div class="container mt-4 is-hidden" id="shopping-list-container"></div>
    <hr>
    <!-- Recipes Container -->
    <div class="container mt-4" id="recipes-container">
    </div>
    <script src="../static/index.js"></script>
</body>
</html>